@import "_common.styl";

// inject:all
@import "../../../../src/frontend/app/components/modal/modal.styl";
@import "../../../../src/frontend/app/components/slider/multiple/range-slider.styl";
@import "../../../../src/frontend/app/components/slider/single/single-slider.styl";
@import "../../../../src/frontend/apploader.styl";
// endinject