.date-picker-header {
  width: 100%;
  float: none;
  background-color: #008B7D;
  padding: 20px;
  box-sizing: border-box;

  .year {
    font-weight 300;
    cursor pointer;
    font-size 15px;
    transition color .3s
    color: #b5eaf2;


    &.selected {
      color white;
    }
  }

  .date {
    font-weight 700;
    color: #b5eaf2;
    font-size 28px;
    cursor pointer;
    margin-top: 10px;
    height 33px;
    transition color .3s

    &.selected {
      color white;
    }
  }
}